[${POOL_NAME}]
user = ${USER}
group = ${GROUP}
listen = ${PHP_SOCKET}
listen.owner = caddy
listen.group = caddy
listen.mode = 0660
pm = dynamic
pm.max_children = 10
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3
chdir = ${WEBROOT}
php_admin_value[open_basedir] = ${WEBROOT}:/tmp
php_admin_value[session.save_path] = /tmp
